<div class="section">
  <div class="container">
      <h1>Legal Disclosure</h1>
      <h5>Information in accordance with Section 5 TMG</h5>
      <br>
      <p>Sebastian Heußer<br>
      Collingstraße 104<br>
      66424 Homburg</p>
      <br>
      <h2>Contact Information</h2>
      E-Mail: <a href="mailto:hello@iota4earth.org">hello@iota4earth.org</a><br>Internet address: <a href="www.iota4earth.org" target="_blank">www.iota4earth.org</a><br>
      <br>
      <h2>Graphics and Image Sources</h2>
      <a href="https://ecosystem.iota.org" target="_blank">https://ecosystem.iota.org</a>
      <br><br>
      <h2>Disclaimer</h2>
      Accountability for content<br>
      The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents'
      accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for
      our own content on these web pages. In this matter, please note that we are not obliged to monitor
      the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity.
      Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per
      §§ 8 to 10 of the Telemedia Act (TMG).

      <br><br>Accountability for links<br>
      Responsibility for the content of
      external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were
      evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective
      link immediately.<br>

  </div>
</div>
