<div class="jumbotron jumbotron-fluid hero hero__index">

</div>

<div class="section">
  <div class="container">
    <div class="row headline">
      <div class="col">
        <h2>IOTΛ 4 Earth Projects</h2>
        <p>IOTΛ 4 Earth is an initiative to highlight projects and people from the IOTΛ community that have a positive impact on the mother nature. All these projects are housed by the IOTΛ Ecosystem and are tagged with "iota4earth".</p>
      </div>
    </div>
    <div class="card-list">
      <% if @projects %>
        <% @projects.each do |project| %>

        <div class="card">
          <div class="card-img-top" style="background-image: url('<%= image_url(project["hero"]) %>')" alt="Card image cap"></div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= project["category"] %></h6>
            <h5 class="card-title"><%= project["name"] %></h5>
            <p class="card-text"><%= project["vision"] %></p>
          </div>
          <div class="card-footer">
            <%= link_to "Visit on Ecosystem", project["eco_url"], class: 'btn btn-green-outline', target: '_blank' %>
            <%#= link_to "Donate", "", class: 'btn btn-green-outline', target: '_blank' %>
          </div>
        </div>

        <% end %>
      <% else %>
        <div class="col">
          <div class="alert alert-warning text-center">
            <strong>No projects here at the moment</strong> - add "iota4earth" as an tag to your published <a href="https://ecosystem.iota.org" target="_blank">IOTA Ecosystem</a> project!
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
