<div class="jumbotron jumbotron-fluid hero">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
      <div class="col">
        <h1>IOTΛ 4 Earth Mission</h1>
        <p class="lead">To start a movement through which activities aimed at environmental protection are shared among each other through online platforms and given micro rewards in IOTA cryptocurrency by a community of activists spread globally.</p>
        <a href="https://medium.com/iota4earth/the-iota-for-earth-initiative-iota4earth-770a1d82ff10" target="_blank">
          <span>Read more about it on medium.</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Key Goals</h2>
        <ul>
          <li>Building up a community of activists for the project</li>
          <li>Creation of awareness via social media platforms and other online forums</li>
          <li>Popularizing #iota4earth hashtag on online platforms</li>
          <li>Providing basic education on how to use IOTA cryptocurrency for micro rewarding to the community of environmental activists</li>
          <li>Building essential software integrations like an IOTA Tip bot which will make micro rewarding hassle free</li>
          <li>Arranging meetups, seminars and other activities</li>
          <li>Liaison with the various organisations in the world which are currently working on environmental issues</li>
        </ul>
      </div>
      <div class="col col__img">
        <%= image_tag("target.svg") %>
      </div>
    </div>
  </div>
</div>

<!-- https://www.youtube.com/watch?v=6EA-MIYY1bg&list=RDhi4pzKvuEQM&index=15 -->
