<div class="jumbotron jumbotron-fluid hero hero__people">

</div>

<div class="section">
  <div class="container">
    <div class="row headline">
      <div class="col">
        <h2>IOTΛ 4 Earth People</h2>
        <p>People make it happen! Join the initiative by adding "iota4earth" as interest tag in the IOTA Ecosystem.</p>
      </div>
    </div>
    <div class="card-list">
      <% if @people %>

        <% @people.each do |user| %>

        <div class="card">
          <div class="avatar rounded-circle" style="background-image: url('<%= user["avatar"] %>')"></div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= user["category"] %></h6>
            <h5 class="card-title"><%= user["name"] %></h5>
            <p class="card-text"><%= user["vision"] %></p>
          </div>
          <div class="card-footer">
            <%= link_to "Visit on Ecosystem", user["eco_url"], class: 'btn btn-green-outline', target: '_blank' %>
            <%#= link_to "Donate", "", class: 'btn btn-green-outline', target: '_blank' %>
          </div>
        </div>

        <% end %>

      <% else %>
        <div class="col">
          <div class="alert alert-warning text-center">
            <strong>No people here at the moment</strong> - add "iota4earth" as an interest to your <a href="https://ecosystem.iota.org" target="_blank">IOTA Ecosystem</a> user profile!
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!-- https://www.youtube.com/watch?v=6EA-MIYY1bg&list=RDhi4pzKvuEQM&index=15 -->
