@import "bootstrap";
@import "mixins";
@import "colors";
@import "buttons";
@import "navigation";
@import "hero";
@import "sections";

* {
  font-family: 'Nunito Sans', sans-serif;

}

h1, h2, h3 {
  font-weight: 700;
  color: var(--dark);
}

p {
  color: var(--dark-2);
}

a {
  color: var(--primary);
  @include transition;
  &:hover {
    color: var(--primary-2);
  }
}

main {
  padding-top: 70px;
}
