@import "mixins";

.btn {
  display: block;
  padding: 12px 30px 10px !important;
  border-radius: 50px !important;
  border: none;
  text-align: center;
  font-size: 0.8rem !important;
  @include transition;
  font-weight: bold;
  &.btn-green-outline {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    &:hover {
      @include linear-gradient(45deg, var(--primary), var(--primary-2));
      color: var(--white);
    }
  }
  &.btn-green-hover {
    &:hover {
      background-color: var(--primary);
    }
  }
}
