@import "mixins";

.jumbotron.hero {
  @include bg-image;
  background-image: url('<%= image_url('hero2.jpg') %>');
  height: 800px;
  margin-bottom: 0;
  &__index {
    background-image: url('<%= image_url('hero1.jpg') %>');
  }
  &__people {
    background-image: url('<%= image_url('hero3.jpg') %>');
  }
  .container {
    height: 100%;
    .row {
      height: inherit;
      .col {
        height: inherit;
        @include flex(column, center, nowrap);
      }
    }
  }
}

/* < 768px */
@media screen and (max-width: 768px) {
  .jumbotron.hero {
    .container .row .col {
      &:first-child {
        display: none;
      }
    }
  }
}

/* < 576px */
@media screen and (max-width: 576px) {
  .jumbotron.hero {
    height: 60vh;
  }
}
