@import "mixins";

nav.navbar {
  height: 70px;
  background-color: var(--white_100);
  @include flex(row, space-between, nowrap);
  align-items: center;
  @include box-shadow;
  a.navbar-brand {
    margin: 0;
    img {
      height: 50px;
    }
  }
  button.navbar-toggler {

  }
  div.navbar-collapse {
    @include flex(row, flex-end, nowrap);
    ul.navbar-nav {
      @include flex(row, flex-end, nowrap);
      li.nav-item {
        padding: 10px 20px;
        color: var(--dark);
        font-size: 1rem;
        a {
          @include transition;
          color: var(--black_50);
          &:hover,  {
            color: var(--dark);
          }
        }
        &.active {
          a {
            color: var(--dark);
          }
        }
      }
    }
  }
}

/* < 992px */
@media screen and (max-width: 992px) {
  nav.navbar {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    a.navbar-brand {
      width: calc(100% - 70px);
      img {
        height: 50px;
      }
    }
    button.navbar-toggler {
      @include size(70px, 70px);
      outline: none;
      @include flex(column, center, nowrap);
      align-items: center;
      &[aria-expanded="false"] {
        .navbar-toggler-wrapper {
          span.line {
            &__top {
              top: 5.5px;
              transform: rotate(0deg);
            }
            &__center {
              opacity: 1;
            }
            &__bottom {
              bottom: 5.5px;
              transform: rotate(0deg);
            }
          }
        }
      }
      .navbar-toggler-wrapper {
        @include size(30px, 30px);
        @include flex(column, center, nowrap);
        align-items: center;
        position: relative;
        span.line {
          height: 3px;
          width: 30px;
          background-color: var(--primary);
          border-radius: 5px;
          position: absolute;
          @include transition;
          &__top {
            top: 14px;
            transform: rotate(45deg);
          }
          &__center {
            opacity: 0;
          }
          &__bottom {
            transform: rotate(-45deg);
            bottom: 13px;
          }
        }
      }
    }
    div.navbar-collapse {
      display: none;
      &.show {
        display: flex;
      }
      ul.navbar-nav {
        @include flex(row, flex-end, wrap);
        width: 100%;
        li.nav-item {
          flex-basis: 100%;
          a {
            text-align: right;
          }
          &.active {
            a {
              color: var(--dark);
            }
          }
        }
      }
    }
  }
}
