@import "mixins";

.col {
  &__img {
    @include flex(column, center);
    align-items: center;
    img {
      width: 250px;
    }
  }
}

.section {
  padding: 80px 0;
  @include bg(light);
  .row.headline {
    h2 {
      text-align: center;
    }
    p {
      margin: 0 auto 30px;
      max-width: 500px;
      text-align: center;
    }
  }
  .card-list {
    margin: 0 -15px;
    @include flex(row, flex-start, wrap);
    .card {
      width: calc((100% - 120px) / 4);
      margin: 0 15px 30px;
      .avatar.rounded-circle {
        @include size(8rem, 8rem);
        margin: 1.25rem auto 0.5rem;
        @include bg-image;
        background-color: var(--light);
      }
      .card-img-top {
        height: 140px;
        @include bg-image;
      }
      .card-footer {
        .btn {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* < 1200px */
@media screen and (max-width: 1200px) {
  .section {
    .card-list {
      .card {
        width: calc((100% - 90px) / 3);
      }
    }
  }
}

/* < 992px */
@media screen and (max-width: 992px) {
  .section {
    .card-list {
      .card {
        width: calc((100% - 60px) / 2);
      }
    }
  }
}

/* < 768px */
@media screen and (max-width: 768px) {
  .section {
    .container .row {
      flex-direction: column-reverse;
      .col {
        flex-basis: 100%;
        &:first-child {
          margin-top: 30px;
        }
      }
    }

  }
}

/* < 576px */
@media screen and (max-width: 576px) {
  .section {
    .card-list {
      .card {
        width: 100%;
      }
    }
  }
}
