<!DOCTYPE html>
<html>
  <head>
    <title>Iota4earth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="/">
        <%= image_tag("logo.svg") %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-wrapper">
          <span class="line line__top"></span>
          <span class="line line__center"></span>
          <span class="line line__bottom"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item <%= "active" if request.path == '/' %>">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= "active" if request.path == '/mission' %>">
            <a class="nav-link" href="/mission">Mission</a>
          </li>
          <li class="nav-item <%= "active" if request.path == '/people' %>">
            <a class="nav-link" href="/people">People</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>

    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <%= link_to "Imprint", imprint_path  %>
      </div>
      <!-- Copyright -->

    </footer>
  </body>
</html>
